h1{
    font-family:sans-serif;
    text-align:center;
    font-size:50px;
    background-color:darkturquoise;
    padding:50px;
}

p{
    font-family:sans-serif;
    text-align:center;
    size:18px;
    margin-left:100px;
    margin-right:100px;
}

.logo{
    height:10%;
    width:10%;
}

#loginintro{
    margin-right:1000px;
    font-size:25px;
}